.About {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.About__inner p:last-child {
  margin: 0;
}

.About__inner a {
  color: #000;
  text-decoration: underline;
}

.About__inner strong {
  font-weight: bold;
}

.About__inner p {
  margin: 0 0 16px 0;
}

.About__inner {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 32px 32px 18px 32px;
  width: 800px;
  transition: all 250ms ease-in-out;
  z-index: 1000;
}
.About__title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 16px 0;
}
.About__description {
  margin: 0 0 16px 0;
  line-height: 135%;
}
.About__sidebar {
  flex: 1;
  margin: 0 0 0 16px;
}
.About__footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0 0;
  width: 100%;
  font-size: 0.7em;
  line-height: 135%;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.About__content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.Button.About__button.is-bold {
  font-size: 1em;
}
.About__backdrop {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	opacity: 0.5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 250ms ease-in-out;
	animation: Gradient 3s ease-in-out infinite;
  cursor: pointer;
}

.About__columns > div:last-child {
  margin: 0 0 0 4px;
}
.About__columns > div {
  margin: 0 24px 0 0;
  flex: 1;
}
.About__columnTitle {
  font-weight: bold;
  display: block;
  font-size: 1em;
  margin: 0 0 4px;
}
.About__columns {
  margin: 32px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1em;
  line-height: 135%;
}
.About__columns p {
  font-size: 0.9em;
}

@media only screen and (max-width: 800px) {
  .About__inner {
    width: 100%;
    padding: 16px;
    margin: 24px 16px;
    font-size: 0.8em;
  }
  .About__inner p {
    margin: 0 0 4px 0;
  }
  .About__columns {
    margin: 16px 0 0 0;
  }
  .About__title {
    margin: 0 0 4px 0;
  }
  .About__description {
    margin: 0 0 4px 0;
  }
  .About__sidebar {
    margin: 0 0 0 8px;
  }
  .About__footer {
    padding: 8px 0 0 0;
    margin: 8px 0 0 0;
  }
}
