.Locations {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.Locations__none {
  display: flex;
  width: 100%;
  border: none;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255,255, 0.2);
  transition: background 150ms ease-in-out, visibility 250ms ease-in-out, opacity 250ms ease-in-out;
  text-align: center;
  height: 100%;
}
.Locations__item:hover {
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
}

.Locations__item.is-active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
}

.Locations__item.is-rejected .Locations__itemName,
.Locations__item.is-rejected .Locations__itemDescription,
.Locations__item.is-rejected .Locations__itemAddress {
  opacity: 0.4;
}
.Locations__item:hover {
  cursor: pointer;
}
.Locations__item {
  width: 100%;
  border: none;
  padding: 16px;
  margin: 0 0 16px 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255,255, 0.2);
  transition: box-shadow 150ms ease-in-out, background 150ms ease-in-out, visibility 250ms ease-in-out, opacity 250ms ease-in-out;
  text-align: left;
  font-size: 1em;
  outline: none;
  background: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  -webkit-appearance: none;
}
.Locations__item.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.Locations__itemName {
  margin: 0 0 8px 0;
  font-weight: bold;
}
.Locations__itemDescription {
  margin: 0 0 8px 0;
}
.Locations__itemAddress {
  font-size: 0.7em;
  color: rgba(0,0,0, 0.3);
}
.Locations__itemFooterOptions > * {
  margin: 0 0 0 8px;
}
.Locations__itemFooterOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Locations__itemFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  opacity: 0.8;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
}

@media only screen and (max-width: 800px) {
  .Locations {
    display: none;
  }
}
