.is-expanded .Map__container {
  width: 100%;
}
.Map__container {
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  padding: 60px 30px 30px 30px;
}
.Map {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
}
.leaflet-container a {
	color: #2477BE;
}
.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

@media only screen and (max-width: 800px) {
  .Map__container {
    width: 100%;
    height: 100%;
    padding: 60px 20px 20px 20px;
  }
  .Map__buttons {
    display: none;
  }
}

.marker-cluster-small {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.marker-cluster-small div {
  background-color: #23D5AB;
}

.marker-cluster-medium {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 1);
}

.marker-cluster-large {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 1);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 100%;
}
.marker-cluster:hover div {
  transform: scale(0.8);
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 5px;

  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: transform 250ms ease-in-out;
}
.marker-cluster span {
  line-height: 30px;
}
