<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map with Me</title>
    <meta name="description" content="Map with Me">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />

    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" media="all"  href="/style.css" type="text/css">

    <script src="/leaflet/leaflet.js" defer></script>
  </head>
  <body>
    <div id="app"></div>
    <script src='build.js'></script>
  </body>
</html>
