.Modal__backdrop {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  opacity: 0.5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 250ms ease-in-out;
  animation: Gradient 3s ease-in-out infinite;
  cursor: pointer;
}

